@forward "../../../scss/foundation";

.c-image-icon{
    width: 58px;
    height: 58px;
    max-width: none;
    max-height: none;
    min-width: none;
    min-height: none;
    border-radius: 50px;
    background-image: linear-gradient(0,0,0,0) 
    rage(0,0,0,0) 
    url("#");
}