@use "../../foundation" as fd;

.c-square{
  margin: 0 auto;
  &__oblique-line{
    background-image: linear-gradient(to top left, transparent 49%, fd.$black 50%, fd.$black 50%, transparent 51%);
  }
  &--black{
    background-color: fd.$black;
  }
  &--white{
    background-color: fd.$white;
  }
}