@use "../../foundation" as fd;

.c-section-title {
  color: fd.$white;
  font-size: map-get(fd.$section-title, pc);
  opacity: 0.5;
  @include fd.fz-section-title(pc);

  @include fd.media-query-tab {
    @include fd.fz-section-title(tab);
  }
    
  @include fd.media-query-sp {
    @include fd.fz-section-title(sp);
  }
}

.c-section-title--black {
  color: fd.$black;
  font-size: map-get(fd.$section-title, pc);
  opacity: 0.5;
  @include fd.fz-section-title(pc);

  @include fd.media-query-tab {
    @include fd.fz-section-title(tab);
  }
    
  @include fd.media-query-sp {
    @include fd.fz-section-title(sp);
  }
}